img {
    height: 70%;
}

a {
    display: block;
    width: 100%;
}

.iPad-Pro-Wallpaper {
    color:chocolate;
}

.fun-fact {
    width: 300px;
    position: absolute;
    top: 5;
    right: 5;

    padding: 5px;
    border: 1px solid black;
}